<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('common/links'); %>
    <style>
        @media only screen and (max-width: 500px) {
           .mybutton{
             width: 100%;
           }
         } 
       </style>      
       
       <link href="/stylesheets/login_style.css" rel="stylesheet" />

  
  </head>
  <body>
    <%- include('common/navbar'); %>
    <div class="containering">

        <div class="row">
    
          <div class="col-md">
    
            <form class="formcls " method = "post" action="/login">
              <div class="mainheading">
                <h1> Log In</h1>
              </div>
    
    
              <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control" name="email" required/>
                <label class="form-label" for="email">Email address</label>
              </div>
    
    
              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control" name="password" required/>
                <label class="form-label" for="password">Password</label>
              </div>
    
    
              <div class="row mb-4">
                
    
                <div class="col">
    
                  <a href="#!">Forgot password?</a>
                </div>
              </div>
    
    
              <button type="submit" class="btn-block mb-4 mybutton" style="color: white;">Log In</button>

    
    
              <div class="text-center">
                <p>Not a member? <a href="/signup">Sign Up</a></p>
              </div>
            </form>
    
          </div>
          <div class="col-md">
            <img src="/images/login_image.svg" class="img-fluid " alt="..." />
          </div>
        </div>
      </div>
    <%- include('common/footer'); %>
  </body>
  </html>

  