<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <%- include('common/links'); %>

  </head>
  <body>
    <%- include('common/navbar'); %>
 
    <div class="container">
        <br><br>
            <ul class="list-group">
            <li class="list-group-item active" aria-current="true">Notifications </li>
            <li class="list-group-item" style="position: relative;">Dapibus ac facilisis in <button class="btn btn-info" style=" position:absolute; right: 10px; bottom: 5px; ">Join</button> </li>
            <li class="list-group-item" style="position: relative;" >Morbi leo risus <button class="btn btn-danger" style=" position:absolute; right: 10px; bottom: 5px;">Give Access</button>  </li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
    </div>

    <%- include('common/footer'); %>
  </body>
  </html>
