<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <%- include('common/links'); %>

  </head>
  <body>
    <%- include('common/navbar',{user:navbar.user}); %>
 


    <%- include('common/footer'); %>
  </body>
  </html>

